---
http_interactions:
- request:
    method: post
    uri: https://agcod-v2-eu-gamma.amazon.com/CreateGiftCard
    body:
      encoding: UTF-8
      string: '{"partnerId":"partner_id","creationRequestId":"partner_id123456987","value":{"currencyCode":"GBP","amount":1.0}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20141118T223025Z
      X-Amz-Target:
      - com.amazonaws.agcod.AGCODService.CreateGiftCard
      Authorization:
      - AWS4-HMAC-SHA256 Credential=random_access_key/20141118/eu-west-1/AGCODService/aws4_request,
        SignedHeaders=accept;content-type;date;host;x-amz-date;x-amz-target, Signature=XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 7e2c887c-6f72-11e4-9b47-c71712d1923e
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"cardInfo":{"cardNumber":null,"cardStatus":"Fulfilled","expirationDate":null,"value":{"amount":1.0,"currencyCode":"GBP"}},"creationRequestId":"partner_id123456987","gcClaimCode":"66VK-BP35V8-VEDW","gcExpirationDate":"Wed Sep 25 22:59:59 UTC 2024","gcId":"A21GJ9E661GJ2Y","status":"SUCCESS"}
  recorded_at: Tue, 18 Nov 2014 22:30:27 GMT
- request:
    method: post
    uri: https://agcod-v2-eu-gamma.amazon.com/CreateGiftCard
    body:
      encoding: UTF-8
      string: '{"partnerId":"partner_id","creationRequestId":"partner_id123456987","value":{"currencyCode":"GBP","amount":null}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20141118T223027Z
      X-Amz-Target:
      - com.amazonaws.agcod.AGCODService.CreateGiftCard
      Authorization:
      - AWS4-HMAC-SHA256 Credential=random_access_key/20141118/eu-west-1/AGCODService/aws4_request,
        SignedHeaders=accept;content-type;date;host;x-amz-date;x-amz-target, Signature=XXX
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 7ed3ec0e-6f72-11e4-9b47-c71712d1923e
      Content-Type:
      - application/json
      Cneonction:
      - close
    body:
      encoding: UTF-8
      string: |
        {"Message":null}
  recorded_at: Tue, 18 Nov 2014 22:30:27 GMT
- request:
    method: post
    uri: https://agcod-v2-eu-gamma.amazon.com/CreateGiftCard
    body:
      encoding: UTF-8
      string: '{"partnerId":"partner_id","creationRequestId":"partner_id123456987","value":{"currencyCode":"GBP","amount":20000}}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20141118T223027Z
      X-Amz-Target:
      - com.amazonaws.agcod.AGCODService.CreateGiftCard
      Authorization:
      - AWS4-HMAC-SHA256 Credential=random_access_key/20141118/eu-west-1/AGCODService/aws4_request,
        SignedHeaders=accept;content-type;date;host;x-amz-date;x-amz-target, Signature=XXX
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 7ef57dcf-6f72-11e4-9b47-c71712d1923e
      Content-Type:
      - application/json
      Nncoection:
      - close
    body:
      encoding: UTF-8
      string: |
        {"agcodResponse":{"__type":"CreateGiftCardResponse:http://internal.amazon.com/coral/com.amazonaws.agcod/","cardInfo":{"cardNumber":null,"cardStatus":null,"expirationDate":null,"value":{"amount":20000.0,"currencyCode":"GBP"}},"creationRequestId":"partner_id123456987","gcClaimCode":null,"gcExpirationDate":null,"gcId":null,"status":"FAILURE"},"errorCode":"F300","errorType":"OperationNotPermitted","message":"Operation Not Permitted"}
  recorded_at: Tue, 18 Nov 2014 22:30:28 GMT
[...]
- request:
    method: post
    uri: https://agcod-v2-eu-gamma.amazon.com/CancelGiftCard
    body:
      encoding: UTF-8
      string: '{"partnerId":"partner_id","creationRequestId":"partner_id8794561264","gcId":"A2GCN9BRX5QS76"}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20141118T223032Z
      X-Amz-Target:
      - com.amazonaws.agcod.AGCODService.CancelGiftCard
      Authorization:
      - AWS4-HMAC-SHA256 Credential=random_access_key/20141118/eu-west-1/AGCODService/aws4_request,
        SignedHeaders=accept;content-type;date;host;x-amz-date;x-amz-target, Signature=XXX
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 82211ae2-6f72-11e4-a2b3-970fadb42577
      Content-Type:
      - application/json
      Nncoection:
      - close
    body:
      encoding: UTF-8
      string: |
        {"agcodResponse":{"__type":"CancelGiftCardResponse:http://internal.amazon.com/coral/com.amazonaws.agcod/","creationRequestId":"partner_id8794561264","gcId":null,"status":"FAILURE"},"errorCode":"F300","errorType":"OperationNotPermitted","message":"Operation Not Permitted"}
  recorded_at: Tue, 18 Nov 2014 22:30:33 GMT
[...]
- request:
    method: post
    uri: https://agcod-v2-eu-gamma.amazon.com/GetGiftCardActivityPage
    body:
      encoding: UTF-8
      string: '{"partnerId":"partner_id","requestId":"123456987","utcStartDate":"2014-09-01T00:00:00Z","utcEndDate":"2014-09-30T00:00:00Z","pageIndex":0,"pageSize":200,"showNoOps":true}'
    headers:
      Content-Type:
      - application/json
      X-Amz-Date:
      - 20141118T223036Z
      X-Amz-Target:
      - com.amazonaws.agcod.AGCODService.GetGiftCardActivityPage
      Authorization:
      - AWS4-HMAC-SHA256 Credential=random_access_key/20141118/eu-west-1/AGCODService/aws4_request,
        SignedHeaders=accept;content-type;date;host;x-amz-date;x-amz-target, Signature=XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 846c6a77-6f72-11e4-a2b3-970fadb42577
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"cardActivityList":[{"activityStatus":"Success","activityTime":"Mon Sep 22 16:39:07 UTC 2014","activityType":"GCCreation","cardNumber":null,"cardValue":{"amount":10.0,"currencyCode":"GBP"},"failureCode":null,"gcId":"A1UJH7660ANXNT","isRealOp":"true","partnerId":"partner_id","requestId":"partner_id123456"},{"activityStatus":"Success","activityTime":"Tue Sep 23 10:04:57 UTC 2014","activityType":"GCCreation","cardNumber":null,"cardValue":{"amount":5.0,"currencyCode":"GBP"},"failureCode":null,"gcId":"A2ST2CNHZFR5GT","isRealOp":"true","partnerId":"partner_id","requestId":"partner_id234596"},{"activityStatus":"Failed","activityTime":"Tue Sep 23 10:05:10 UTC 2014","activityType":"GCCancellation","cardNumber":null,"cardValue":null,"failureCo[...]
